@tailwind base;
@tailwind components;
@trilwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

@font-face {
  font-family: Estedad;
  src: url(./assets/font/estadad.ttf);
}
body {
  font-family: Estedad;
}
